h2 {
    font-family: 'ZCOOL XiaoWei', serif;
}

button {
    position: relative;
    bottom: 200px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}